.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--hover-background);
  border-radius: 4px;
  padding: 0.5rem;
  padding-left: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 30rem;
  transition: all 0.3s ease-in-out;
  box-shadow: var(--shadow);
  position: relative;
}

.container:hover {
  transform: translateY(-2px);
}

.amount {
  margin-left: auto;
}

.deleteButton {
  background: none;
  border: none;
  color: var(--red);
  cursor: pointer;
  font-size: 1.2rem;
}

.expense::before,
.income::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.4rem;
  border-radius: 4px 0 0 4px;
}

.expense::before {
  background-color: var(--red);
}

.income::before {
  background-color: var(--green);
}

.recurring {
  color: var(--foreground-light);
}
