.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 30rem;
}

.form {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
  gap: 0.4rem;
}

.formGroup label {
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: var(--foreground);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: var(--foreground-light);
}

.expense::before,
.income::before,
.goal::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.4rem;
  border-radius: 4px 0 0 4px;
}

.goal::before {
  background-color: gold;
}

.expense::before {
  background-color: var(--red);
}

.income::before {
  background-color: var(--green);
}
