.container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.2rem;
  margin-top: 1rem;
}

.container input {
  padding: 0.6rem 1rem;
}

.container button {
  padding: 0.6rem 1rem;
}
