.totalBudget {
  width: 100%;
  max-width: 30rem;
  text-align: center;
  background-color: var(--hover-background);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.totalBudget h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--foreground);
}

.totalBudget p {
  margin: 0;
  font-size: 1rem;
  color: var(--forground-light);
}
