.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totals {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.4rem;
}

.section {
  margin-bottom: 1rem;
  width: 100%;
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 40rem;
  padding: 1.5rem;
  gap: 0.4rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.controls button {
  border: none;
  transition: all 0.3s ease-in-out;
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-light);
  border: none;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 0.4rem;
  width: 100%;
  box-shadow: var(--shadow);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modalButton:hover {
  transform: translateY(-2px);
}
