.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.section {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 30rem;
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.controls button {
  border: none;
  background: none;
  transition: all 0.3s ease-in-out;
}

.controls button:hover {
  cursor: pointer;
  scale: 1.1;
}
